<ul class="navbar-nav ms-auto d-flex flex-row align-items-center gap-3">
  <% if logged_in? %>
    <div class="d-flex flex-row gap-3 me-auto">
      <li class="nav-item">
        <%= link_to "Upload New Import", new_import_path, class: "nav-link fw-bold custom-hover #{active_nav_link(new_import_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Imports", imports_path, class: "nav-link fw-bold custom-hover #{active_nav_link(imports_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Affiliates", affiliates_path, class: "nav-link fw-bold custom-hover #{active_nav_link(affiliates_path)}" %>
      </li>
    </div>

    <li class="nav-item ms-5">
      <%= link_to "Logout", logout_path, method: :delete, class: "nav-link fw-bold text-danger custom-hover #{active_nav_link(logout_path)}" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "Sign up", sign_up_path, class: "nav-link fw-bold custom-hover #{active_nav_link(sign_up_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Sign in", sign_in_path, class: "nav-link fw-bold custom-hover #{active_nav_link(sign_in_path)}" %>
    </li>
  <% end %>
</ul>